/.bundle
/tmp
/node_modules
**/.DS_Store
.DS_Store
spec/data/*.zone
spec/data/*.json
spec/data/*.tmp
.rvmrc
.ruby-version
tmp.tddium*
.tddium
includes/zone_kernel/*.gem
includes/zone_kernel/ext/zone_kernel/*.bak
includes/zone_kernel/ext/zone_kernel/zone_kernel.c
ext/Makefile
ext/*.bundle
ext/*.o
ext/.RUBYARCHDIR.time
.rbenv-version
spec/reports
vendor/bundle
/prof
ext/.RUBYARCHDIR.time
script/deep_stats/.bundle
script/deep_stats/vendor
script/monitor/.bundle
script/monitor/vendor
script/simulator/.bundle
script/simulator/vendor
.bundle
